@model IEnumerable<FreeTime1.Models.MauHang>

@{
    ViewBag.Title = "Mẫu Hàng";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TenMH", rowsPerPage: 10);
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/search.css">
    <link rel="stylesheet" type="text/css" href="~/Content/grid.css">
    <link rel="stylesheet" type="text/css" href="~/Content/text.css">
    <link rel="stylesheet" type="text/css" href="~/Content/noti.css">

}

@section scripts {
    <script src="~/Scripts/noti.js"></script>
}

@if (ViewBag.TaoThanhCong != null)
{
    <div class="noti">
        <div class="noti-content">
            <div class="noti-header">
                Thông báo!
                <div class="noti-close">
                    đóng
                </div>
            </div>
            <div class="noti-body">
                @ViewBag.TaoThanhCong
            </div>
        </div>
    </div>
}
@if (ViewBag.XoaThanhCong != null)
{
    <div class="noti">
        <div class="noti-content">
            <div class="noti-header">
                Thông báo!
                <div class="noti-close">
                    đóng
                </div>
            </div>
            <div class="noti-body">
                @ViewBag.XoaThanhCong
            </div>
        </div>
    </div>
}
@if (ViewBag.XoaThatBai != null)
{
    <div class="noti">
        <div class="noti-content">
            <div class="noti-header">
                Thông báo!
                <div class="noti-close">
                    đóng
                </div>
            </div>
            <div class="noti-body">
                @ViewBag.XoaThatBai
            </div>
        </div>
    </div>
}

<h2 class="text-title">Mẫu hàng</h2>
<div class="search">
    @using (Html.BeginForm("TimKiem", "MauHangs", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <div class="search-group">
            <table class="search-table">
                <tr class="search-table-tr">
                    <td class="search-table-td search-label">
                        <div>Mã mẫu hàng</div>
                    </td>
                    <td class="search-table-td">
                        <input type="text" name="MaMH" value="@ViewBag.MaMH" class="search-input" />
                    </td>
                </tr>
                <tr class="search-table-tr">
                    <td class="search-table-td search-label">
                        <div>Tên mẫu hàng</div>
                    </td>
                    <td class="search-table-td">
                        <input type="text" name="TenMH" value="@ViewBag.TenMH" class="search-input" />
                    </td>
                </tr>
            </table>
            <table class="search-table">
                <tr class="search-table-tr">
                    <td class="search-table-td search-label">
                        <div>Đơn vị</div>
                    </td>
                    <td class="search-table-td">
                        <input type="text" name="DonVi" value="@ViewBag.DonVi" class="search-input" />
                    </td>
                </tr>
                <tr class="search-table-tr">
                    <td class="search-table-td search-label">
                        <div>Chú thích</div>
                    </td>
                    <td class="search-table-td">
                        <input type="text" name="ChuThich" value="@ViewBag.ChuThich" class="search-input" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="search-footer">
            <input type="submit" name="submit" value="Tìm kiếm" class="btn search-submit" />
            <a href="@Url.Action("Index")" class="btn search-clear">
                <i class="fa fa-trash-o"></i>
                <span>Xóa tìm kiếm</span>
            </a>
        </div>
    }
</div>
<div class="grid">
    <div class="grid-action">
        <a href="@Url.Action("Create", new {})" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i>
            <span>Thêm mẫu hàng</span>
        </a>
    </div>
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
        columns: new[]
        {
            grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("MaMH","Mã mẫu hàng"),
            grid.Column("TenMH","Tên mẫu hàng"  ),
            grid.Column("DonVi","Đơn vị"),
            grid.Column("ChuThich","Chú thích"),
            grid.Column("", "", format:
@<div>
    <a href="@Url.Action("Edit", new { id = item.MaMH })" class="btn btn-primary btn-sm">
        <i class="fa fa-pencil"></i>
        <span>Sửa</span>
    </a>
    <a href="@Url.Action("Delete", new { id = item.MaMH })" class="btn btn-danger btn-sm">
        <i class="fa fa-plus"></i>
        <span>Xóa</span>
    </a>
    <a href="@Url.Action("Details", new { id = item.MaMH })" class="btn btn-info btn-sm">
        <i class="fa fa-info"></i>
        <span>Xem thêm</span>
    </a>
    <a href="@Url.Action("Group", new { MaMH = item.MaMH })" class="btn btn-primary btn-sm">
        <i class="fa fa-info"></i>
        <span>Nhóm</span>
    </a>
</div>
),
}
)
</div>
