@model FreeTime1.Models.DonHangDat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonHangDat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDHD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
