@model IEnumerable<FreeTime1.Models.DonHangDat>

@{
    ViewBag.Title = "Đơn hàng đặt";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MaDHD", rowsPerPage: 10);
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/search.css">
    <link rel="stylesheet" type="text/css" href="~/Content/grid.css">
    <link rel="stylesheet" type="text/css" href="~/Content/text.css">
    <link rel="stylesheet" type="text/css" href="~/Content/noti.css">
    <link rel="stylesheet" type="text/css" href="~/Content/checkbox.css">
}

@section scripts {
    <script src="~/Scripts/noti.js"></script>
}


@if (ViewBag.ThongBao != null)
{
    <div class="noti">
        <div class="noti-content">
            <div class="noti-header">
                Thông báo!
                <div class="noti-close">
                    đóng
                </div>
            </div>
            <div class="noti-body">
                @ViewBag.ThongBao
            </div>
        </div>
    </div>
}


<h2 class="text-title">Danh sách đơn nhập đặt</h2>
<div class="search">
    @using (Html.BeginForm("TimKiem", "DonHangDats", FormMethod.Get))
    {
        <div class="search-group">
            <table class="search-table">
                <tr class="search-table-tr">
                    <td class="funkyradio" style="width: 240px">
                        <div class="funkyradio-primary">
                            @if (ViewBag.DaDat != null)
                            {
                                <input type="checkbox" name="DaDat" id="DaDat" checked />
                            }
                            else
                            {
                                <input type="checkbox" name="DaDat" id="DaDat" />
                            }
                            <label for="DaDat">Đang chờ duyệt</label>
                        </div>
                    </td>
                </tr>
                <tr class="search-table-tr">
                    <td class="search-table-td search-label">
                        <div>Mã đơn hàng</div>
                    </td>
                    <td class="search-table-td">
                        <input type="text" name="MaDHD" value="@ViewBag.MaDHD" class="search-input" />
                    </td>
                </tr>
            </table>
            <table class="search-table">
                <tr class="search-table-tr">
                    <td class="funkyradio" style="width: 240px;">
                        <div class="funkyradio-primary">
                            @if (ViewBag.DangGiao != null)
                            {
                                <input type="checkbox" name="DangGiao" id="DangGiao" checked />
                            }
                            else
                            {
                                <input type="checkbox" name="DangGiao" id="DangGiao" />
                            }
                            <label for="DangGiao">Đang giao</label>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="search-table">
                <tr class="search-table-tr">
                    <td class="funkyradio" style="width: 240px;">
                        <div class="funkyradio-primary">
                            @if (ViewBag.DaThanhToan != null)
                            {
                                <input type="checkbox" name="DaThanhToan" id="DaThanhToan" checked />
                            }
                            else
                            {
                                <input type="checkbox" name="DaThanhToan" id="DaThanhToan" />
                            }
                            <label for="DaThanhToan">Thành công</label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="search-footer">
            <input type="submit" name="submit" value="Tìm kiếm" class="btn search-submit" />
            <a href="@Url.Action("Index")" class="btn search-clear">
                <i class="fa fa-trash-o"></i>
                <span>Xóa tìm kiếm</span>
            </a>
        </div>
    }
</div>
<div class="grid">
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
        columns: new[]
        {
            grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("MaDHD","Mã đơn hàng"),
            grid.Column(
                "TrangThai",
                "Trạng thái đơn hàng",
                format:
@<div>
    @if (item.TrangThai == "Đã đặt")
                    {
    <div>Đang chờ duyệt</div>
                    }
                    else if (item.TrangThai == "Đang giao")
                    {
    <div>Đang giao</div>
                    }
                    else if (item.TrangThai == "Đã thanh toán")
                    {
    <div>Thành công</div>
                    }
</div>
),
grid.Column("KhachHang.HoTen","Khách hàng"  ),
grid.Column("NgayDat","Ngày đặt",format:@item => @item.NgayDat != null ? @item.NgayDat.ToString(string.Format("dd/MM/yyyy")) : ""),
grid.Column("NgayGiao","Ngày bắt đầu giao",format:@item => @item.NgayGiao != null ? @item.NgayGiao.ToString(string.Format("dd/MM/yyyy")) : "-"),
grid.Column("NgayHoanThanh","Ngày kết thúc",format:@item => @item.NgayHoanThanh != null ? @item.NgayHoanThanh.ToString(string.Format("dd/MM/yyyy")) : "-"),
grid.Column("TongDonHang","Tổng đơn hàng",format:@item => @item.TongDonHang.ToString("#,##0.")),
grid.Column(
"",
"",
format:
@<div>
    <a href="@Url.Action("Details", new { id = item.MaDHD })" class="btn btn-info btn-sm">
        <i class="fa fa-info"></i>
        <span>Xem</span>
    </a>
    @if (item.TrangThai == "Đã đặt")
                    {
    <form method="post" action="@Url.Action("DeliverOrder","DonHangDats")" style="display: initial">
        <input class="form-input hide" name="MaDHD" value="@item.MaDHD" />
        <input type="submit" value="Giao hàng" class="btn btn-warning btn-sm">
    </form>
                    }
                    else if (item.TrangThai == "Đang giao")
                    {
    <form method="post" action="@Url.Action("CancelDeliverOrder","DonHangDats")" style="display: initial">
        <input class="form-input hide" name="MaDHD" value="@item.MaDHD" />
        <input type="submit" value="Hủy giao" class="btn btn-warning btn-sm">
    </form>
    <form method="post" action="@Url.Action("VerifyOrder","DonHangDats")" style="display: initial">
        <input class="form-input hide" name="MaDHD" value="@item.MaDHD" />
        <input type="submit" value="Hoàn thành" class="btn btn-danger btn-sm">
    </form>
                    }
</div>
),
}
)
</div>