@model FreeTime1.Models.DonHangDat

@{
    ViewBag.Title = "Đơn Hàng Đặt";
    FreeTime1.Models.KhachHang khachHang = Session["khachHang"] as FreeTime1.Models.KhachHang;
    Layout = "~/Views/Shared/_Layout_Ban_Hang.cshtml";
    decimal Tong = 0;
    foreach (FreeTime1.Models.HangDonHangDat hangDonHangDat in Model.HangDonHangDats)
    {
        Tong += hangDonHangDat.Hang.GiaBan * hangDonHangDat.SoLuong;
    }
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/order.css">
}
<div class="ads-grid order">
    <div class="order-title">Danh sách mặt hàng đã chọn</div>
    <div class="order-body">
        <div class="order-body-left">
            @foreach (FreeTime1.Models.HangDonHangDat hangDonHangDat in Model.HangDonHangDats)
            {
                <div class="order-stock">
                    <img class="order-stock-img" src="~/Images/MauHangs/@hangDonHangDat.Hang.MauHang.Anh" alt="@hangDonHangDat.Hang.MauHang.TenMH" />
                    <div class="order-stock-info">
                        <div class="order-stock-info-name">@hangDonHangDat.Hang.MauHang.TenMH</div>
                        <div class="order-stock-info-price">Đơn giá: 1 @hangDonHangDat.Hang.MauHang.DonVi/ @hangDonHangDat.Hang.GiaBan VNĐ</div>
                        <div class="order-stock-info-count">Đang đặt: @hangDonHangDat.SoLuong @hangDonHangDat.Hang.MauHang.DonVi</div>
                        <div class="order-stock-info-total">Tổng: @hangDonHangDat.SoLuong*@hangDonHangDat.Hang.GiaBan VNĐ</div>
                    </div>
                </div>
            }
        </div>
        <div class="order-body-right">
            <div>Tổng cộng: @Tong VNĐ</div>
            <button class="btn btn-success btn-sm order-submit" onclick="location.href='@Url.Action("OrderDocument", "DonHangDats")'">
                Đặt đơn hàng
            </button>
        </div>
    </div>
</div>