@model FreeTime1.Models.NguoiDung

@{
    ViewBag.Title = "Thêm người dùng";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/text.css">
    <link rel="stylesheet" type="text/css" href="~/Content/form.css">
}
<div>
    <a href="@Url.Action("Index", new {})" class="btn btn-primary btn-sm">
        <i class="fa fa-arrow-left"></i>
        <span>
            Quay về
        </span>
    </a>
</div>
<h2 class="text-title">Người dùng mới</h2>
@using (Html.BeginForm("Create", "NguoiDungs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form">
        <div class="form-group">
            <div class="form-field">
                <div class="form-label">
                    @Html.LabelFor(model => model.TaiKhoan)
                </div>
                <div>
                    @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-input" } })
                    @Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    @Html.LabelFor(model => model.MatKhau)
                </div>
                <div>
                    @Html.PasswordFor(model => model.MatKhau, new { @class = "form-input" })
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    @Html.LabelFor(model => model.NhapLaiMatKhau)
                </div>
                <div>
                    @Html.PasswordFor(model => model.NhapLaiMatKhau, new { @class = "form-input" })
                    @Html.ValidationMessageFor(model => model.NhapLaiMatKhau, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-field">
                <div class="form-label">
                    @Html.LabelFor(model => model.ChucVu)
                </div>
                <div>
                    @Html.DropDownListFor(model => model.ChucVu, new SelectList(new List<SelectListItem> {
                          new SelectListItem { Text = "Quản lý" , Value = "Quản lý"},
                          new SelectListItem { Text = "Nhân viên", Value = "Nhân viên" }
                      },
                        "Value",
                        "Text",
                        "True"),
                         new { @class = "form-control mdb-select md-form" }
                    )
                    @Html.ValidationMessageFor(model => model.ChucVu, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    @Html.LabelFor(model => model.HoTen)
                </div>
                <div>
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-input" } })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    @Html.LabelFor(model => model.SDT)
                </div>
                <div>
                    @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-input" } })
                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-field">
                <div class="form-label">
                    @Html.LabelFor(model => model.Anh)
                </div>
                <div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="Anh" multiple id="customFile" />
                    </div>
                    @Html.ValidationMessageFor(model => model.Anh, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    @Html.LabelFor(model => model.DiaChi)
                </div>
                <div>
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-input" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    @Html.LabelFor(model => model.GioiTinh)
                </div>
                <div>
                    <div class="form-radio-group">
                        @Html.RadioButtonFor(model => model.GioiTinh, true, true) Nam
                        @Html.RadioButtonFor(model => model.GioiTinh, false, false) Nữ
                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-footer">
        <div>
            <input type="submit" value="Tạo người dùng" class="btn btn-success btn-sm" />
        </div>
    </div>
}
