@model FreeTime1.Models.NguoiDung

@{
    ViewBag.Title = "Chỉnh sửa";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/text.css">
    <link rel="stylesheet" type="text/css" href="~/Content/partition.css">
    <link rel="stylesheet" type="text/css" href="~/Content/form.css">
    <link rel="stylesheet" type="text/css" href="~/Content/image.css">
}

<div>
    <a href="@Url.Action("Index", new {})" class="btn btn-primary btn-sm">
        <i class="fa fa-arrow-left"></i>
        <span>
            Quay về
        </span>
    </a>
</div>

<h2 class="text-title">
    @Html.DisplayFor(model => model.HoTen)
</h2>

@using (Html.BeginForm("Edit", "NguoiDungs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="partition partition-col">
        <div class="partition-row partition-half-width" style="align-items: center;">
            <img src="~/Images/NguoiDungs/@Html.DisplayFor(model => model.Anh)" class="avarta-large" />
            <div class="form-field">
                <div>
                    Chọn ảnh mới
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="Anh" multiple id="customFile" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form partition-half-width" style="grid-template-columns: auto">
            <div class="form-group">
                <input name="MaND" value="@Model.MaND" class="hide form-input"/>
                <div class="form-field">
                    <div class="form-label">
                        @Html.LabelFor(model => model.HoTen)
                    </div>
                    <div>
                        <input class="form-input" name="HoTen" multiple value="@Model.HoTen" />
                    </div>
                </div>
                <div class="form-field">
                    <div class="form-label">
                        @Html.LabelFor(model => model.SDT)
                    </div>
                    <div>
                        <input class="form-input" name="SDT" multiple value="@Model.SDT" />
                    </div>
                </div>
                <div class="form-field">
                    <div class="form-label">
                        @Html.LabelFor(model => model.DiaChi)
                    </div>
                    <div>
                        <input class="form-input" name="DiaChi" value="@Model.DiaChi" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-footer">
        <div>
            <input type="submit" value="Cập nhật" class="btn btn-success btn-sm" />
        </div>
    </div>
}
