@model FreeTime1.Models.NhaCungCap

@{
    ViewBag.Title = "Chi tiết nhà cung cấp";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/text.css">
    <link rel="stylesheet" type="text/css" href="~/Content/partition.css">
    <link rel="stylesheet" type="text/css" href="~/Content/image.css">
}

<div>
    <a href="@Url.Action("Index", new {})" class="btn btn-primary btn-sm">
        <i class="fa fa-arrow-left"></i>
        <span>
            Quay về
        </span>
    </a>
</div>

<h2 class="text-title">
    @Html.DisplayFor(model => model.TenNCC)
    <a href="@Url.Action("Edit", new { id = Model.TenNCC })" class="btn btn-primary btn-sm" style="margin-left: 10px">
        <i class="fa fa-pencil"></i>
        <span>
            Sửa
        </span>
    </a>
</h2>

<div class="partition">
    <div class="partition-row">
        <div class="partition-col">
            <div class="partition-cell">
                <dt>
                    @Html.DisplayNameFor(model => model.MaNCC)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaNCC)
                </dd>
            </div>
        </div>
        <div class="partition-col">
            <div class="partition-cell">
                <dt>
                    @Html.DisplayNameFor(model => model.TenNCC)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TenNCC)
                </dd>
            </div>
        </div>
        <div class="partition-col">
            <div class="partition-cell">
                <dt>
                    @Html.DisplayNameFor(model => model.SDT)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SDT)
                </dd>
            </div>
        </div>
        <div class="partition-col">
            <div class="partition-cell">
                <dt>
                    @Html.DisplayNameFor(model => model.QuoGia)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.QuoGia)
                </dd>
            </div>
        </div>
        <div class="partition-col">
            <div class="partition-cell">
                <dt>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>
            </div>
        </div>
        <div class="partition-col">
            <div class="partition-cell">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </div>
        </div>
    </div>
</div>
    