@model IEnumerable<FreeTime1.Models.Hang>

@{
    ViewBag.Title = "Trang chủ";
    FreeTime1.Models.NguoiDung nguoiDung = Session["nguoiDung"] as FreeTime1.Models.NguoiDung;
    FreeTime1.Models.KhachHang khachHang = Session["khachHang"] as FreeTime1.Models.KhachHang;
    Layout = nguoiDung == null ? "~/Views/Shared/_Layout_Ban_Hang.cshtml" : "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/product.css">
    <link rel="stylesheet" type="text/css" href="~/Content/form.css">
    <link rel="stylesheet" type="text/css" href="~/Content/noti.css">
    <link rel="stylesheet" type="text/css" href="~/Content/search.css">

}

@section scripts {
    <script src="~/Scripts/noti.js"></script>
}
@if (nguoiDung != null)
{
    <div>
        <img src="~/imgs/homePage.png" />
    </div>
}
else
{
    if (ViewBag.ThongBao != null)
    {
        <div class="noti">
            <div class="noti-content">
                <div class="noti-header">
                    Thông báo!
                    <div class="noti-close">
                        đóng
                    </div>
                </div>
                <div class="noti-body">
                    @ViewBag.ThongBao
                </div>
            </div>
        </div>
    }
    <div class="ads-grid">
        <div class="container">
            <h3 class="tittle-w3l">
                Danh sách sản phẩm
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
            <div class="side-bar col-md-3">
                <div class="left-side">
                    <h3 class="agileits-sear-head">Loại mặt hàng</h3>
                    <a href="@Url.Action("Index")" class="btn search-clear">
                        <i class="fa fa-trash-o"></i>
                        <span>Xóa</span>
                    </a>
                    @using (Html.BeginForm("SearchGroups", "Home", FormMethod.Post))
                    {
                        <input type="submit" value="Tìm" class="btn btn-success btn-sm order-submit" />
                        <ul>
                            @if (ViewBag.NhomHangs != null)
                            {
                                foreach (FreeTime1.Models.NhomHang nhomHang in ViewBag.NhomHangs)
                                {
                                    <li>
                                        @if (ViewBag.MaNHS != null && ViewBag.MaNHS[i++] == "checked")
                                        {
                                            <input type="checkbox" name="@nhomHang.MaNH" class="checked" checked>
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="@nhomHang.MaNH" class="checked">
                                        }
                                        <span class="span">@nhomHang.TenNH</span>
                                    </li>
                                }
                            }
                        </ul>
                    }
                </div>
            </div>
            <div class="agileinfo-ads-display col-md-9">
                <div class="wrapper">
                    @foreach (var item in Model)
                    {
                        <div class="product">
                            <img class="product-img" src="~/Images/MauHangs/@item.MauHang.Anh" />
                            <div class="product-info">
                                <div class="product-info-name">@item.MauHang.TenMH</div>
                                <div class="product-info-price">1 @item.MauHang.DonVi/ @String.Format("{0:n0}", item.GiaBan)</div>
                                <div class="product-info-count">Còn @item.SoLuong @item.MauHang.DonVi</div>
                                <div class="product-info-des">@item.MauHang.ChuThich</div>
                                <div class="product-action">
                                    @if (khachHang != null)
                                    {
                                        using (Html.BeginForm("OrderStock", "DonHangDats", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <input class="form-input hide" name="MaKH" value="@khachHang.MaKH" />
                                            <input class="form-input hide" name="MaH" value="@item.MaH" />
                                            <input type="number" class="form-input" name="SoLuong" id="soLuongInput" style="width: 75%; height: 33px; margin: 5px 0;" value="0" min="0" max="@item.SoLuong" />
                                            <input type="submit" value="Đặt hàng" class="btn btn-success btn-sm" />
                                        }
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Đặt hàng", "Index", "Login", null, new { @class = "btn btn-success btn-sm" })
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}