@model FreeTime1.Models.NhomHang

@{
    ViewBag.Title = "Thêm Nhóm Hàng";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/text.css">
    <link rel="stylesheet" type="text/css" href="~/Content/partition.css">
    <link rel="stylesheet" type="text/css" href="~/Content/form.css">
    <link rel="stylesheet" type="text/css" href="~/Content/noti.css" />
}

@section scripts {
    <script src="~/Scripts/noti.js"></script>
} 
<div>
    <a href="@Url.Action("Index", new {})" class="btn btn-primary btn-sm">
        <i class="fa fa-arrow-left"></i>
        <span>
            Quay về
        </span>
    </a>
</div>
<h2 class="text-title">Nhóm hàng mới</h2>
@using (Html.BeginForm("Create", "NhomHangs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form">
        <div class="form-group">
            <div class="form-field">
                <div class="form-label">
                    Tên nhóm hàng
                </div>
                <div>
                    @Html.EditorFor(model => model.TenNH, new { htmlAttributes = new { @class = "form-input" } })
                    @Html.ValidationMessageFor(model => model.TenNH, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-footer">
        <div>
            <input type="submit" value="Tạo nhóm hàng" class="btn btn-success btn-sm" />
        </div>
    </div>
}
