@model IEnumerable<FreeTime1.Models.HangDonHangXuat>

@{
    ViewBag.Title = "Chi tiết đơn hàng xuất";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MaDHX", rowsPerPage: 10);
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/text.css">
    <link rel="stylesheet" type="text/css" href="~/Content/search.css">
    <link rel="stylesheet" type="text/css" href="~/Content/grid.css">
    <link rel="stylesheet" type="text/css" href="~/Content/partition.css">
}

<div>
    <a href="@Url.Action("Index", new {})" class="btn btn-primary btn-sm">
        <i class="fa fa-arrow-left"></i>
        <span>
            Quay về
        </span>
    </a>
</div>

<h2 class="text-title">Hóa đơn xuất @ViewBag.MaDHX</h2>
<div class="text-wrapper">
    <div class="text-label">
        Khách hàng:
    </div>
    <div class="text-content">
        @ViewBag.TenKH
    </div>
</div>
<div class="text-wrapper">
    <div class="text-label">
        Ngày xuất:
    </div>
    <div class="text-content">
        @ViewBag.NgayXuat
    </div>
</div>
<div class="text-wrapper">
    <div class="text-label">
        Giảm giá:
    </div>
    <div class="text-content">
        @ViewBag.GiamGia@ViewBag.KieuGiamGia
    </div>
</div>
<div class="text-wrapper">
    <div class="text-label">
        Tổng đơn hàng:
    </div>
    <div class="text-content">
        @ViewBag.TongDonhang
    </div>
</div>
<div class="grid">
    <div class="grid-action">
        <div class="text-content">Danh sách hàng xuất</div>
    </div>
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
        columns: new[]
        {
            grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("Hang.MauHang.TenMH","Tên mặt hàng"),
            grid.Column("Hang.HanSuDung","Hạn sử dụng"  ),
            grid.Column("Hang.GiaBan","Giá Bán"),
            grid.Column("SoLuong","Số lượng")
        }
)
</div>