@model IEnumerable<FreeTime1.Models.DonHangXuat>

@{
    ViewBag.Title = "Đơn hàng xuất";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MaDHX", rowsPerPage: 10);
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/search.css">
    <link rel="stylesheet" type="text/css" href="~/Content/grid.css">
    <link rel="stylesheet" type="text/css" href="~/Content/text.css">
    <link rel="stylesheet" type="text/css" href="~/Content/noti.css">
}

@section scripts {
    <script src="~/Scripts/noti.js"></script>
    <script src="~/Scripts/number.js"></script>
    <script type="text/javascript">
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        document.querySelector('#in-hoa-don-xuat').addEventListener('click', () => {
            const MaDHX = []
            const HoTen = []
            const TongDonHang = []
            const tongGiaTriXuat = '@ViewBag.TongGiaTriXuat'
            const GiamGia = []
            const KieuGiamGia = []
            const NgayThucHien = []
            const ngayBD = '@ViewBag.NgayXuat'
            const ngayKT = '@ViewBag.NgayThucHienKT'
            const ngayXuat = !ngayBD && !ngayKT ? 'Toàn thời gian' : ngayBD == ngayKT ? `trong ngày ${ngayKT}` : `từ ngày ${ngayBD} đến ngày ${ngayKT}`
            @foreach (var item in Model)
            {
                var giamGia = item.GiamGia;
                if (giamGia == null) { giamGia = "0"; }
                @:MaDHX.push('@item.MaDHX');
                @:HoTen.push('@item.KhachHang.HoTen')
                @:TongDonHang.push(@item.TongDonHang ? @item.TongDonHang : '');
                @:NgayThucHien.push('@item.NgayXuat' ? '@item.NgayXuat' : '');
                @:GiamGia.push(@item.GiamGia);
                @:KieuGiamGia.push('@item.KieuGiamGia' ? '@item.KieuGiamGia' : '');
            }
            const danhSachDonHangXuat = []
            for (let i = 0; i < MaDHX.length; i++) {
                danhSachDonHangXuat.push({
                    MaDHX: MaDHX[i],
                    HoTen: HoTen[i],
                    TongDonHang: TongDonHang[i],
                    NgayThucHien: NgayThucHien[i],
                    GiamGia: GiamGia[i],
                    KieuGiamGia: KieuGiamGia[i]
                })
            }
            const printWindow = window.open('', '_blank')
            printWindow.open()
            printWindow.document.write(`
                <html>
                  <head>
                  </head>
                  <body>
                    <div style="width: 100%">
                      <div style="width: 100%; text-align: center;">
                        TẠP HÓA PHÚC THẢO
                        <h4 style="margin: 15px 0;">BÁO CÁO ĐƠN HÀNG XUẤT</h4>
                        <h4 style="margin: 15px 0;">Thời gian: ${ngayXuat}</h4>
                      </div>
                      <table style="width: 100%; white-space: nowrap; margin-top: 15px; border-collapse: collapse;">
                        <tbody>
                          <tr style="border-bottom: 1px solid; border-top: 1px solid;">
                            <th style="border-left: 1px solid #000; border-right: 1px solid #000;">STT</th>
                            <th style="border-left: 1px solid #000; border-right: 1px solid #000;">Mã đơn hàng xuất</th>
                            <th style="border-left: 1px solid #000; border-right: 1px solid #000;">Tên khách hàng</th>
                            <th style="width: 100px; border-left: 1px solid #000; border-right: 1px solid #000;">Ngày xuất</th>
                            <th style="width: 100px; border-left: 1px solid #000; border-right: 1px solid #000;">Giảm giá</th>
                            <th style="width: 100px; border-left: 1px solid #000; border-right: 1px solid #000;">Tổng đơn hàng</th>
                          </tr>
                          ${danhSachDonHangXuat.map((donHangXuat, index) => {
                              const giamGia = `${numberWithCommas(donHangXuat.GiamGia ? parseFloat(donHangXuat.GiamGia) : 0)}${donHangXuat.KieuGiamGia}`
                            return `
                              <tr>
                                <td style="padding-left: 3px; text-align: center; border: 1px solid #000">${index + 1}</td>
                                <td style="padding-left: 3px; border: 1px solid #000">${donHangXuat.MaDHX}</td>
                                <td style="padding-left: 3px; border: 1px solid #000">${donHangXuat.HoTen}</td>
                                <td style="width: 100px; text-align: right; padding-right: 3px; border: 1px solid #000">${donHangXuat.NgayThucHien}</td>
                                <td style="width: 100px; text-align: right; padding-right: 3px; border: 1px solid #000">${giamGia}</td>
                                <td style="width: 100px; text-align: right; padding-right: 3px; border: 1px solid #000">${numberWithCommas(parseFloat(donHangXuat.TongDonHang))}</td>
                              </tr>
                            `
                          }).join('')}
                        </tbody>
                      </table>
                      <table style="width: 100%; white-space: nowrap">
                        <tbody>
                            <tr>
                            <td style="text-align: right"><h5 style="margin: 0">Tổng giá trị xuất:</h5 style="margin:0"></td>
                            <td style="width: 110px; text-align: right"><h4 style="margin:0">${numberWithCommas(parseFloat(tongGiaTriXuat))}</h4></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                  </body>
                </html>
            `)
            printWindow.document.close()
            printWindow.focus()
            printWindow.print()
            printWindow.close()
        })
    </script>
}


@if (ViewBag.XoaThanhCong != null)
{
    <div class="noti">
        <div class="noti-content">
            <div class="noti-header">
                Thông báo!
                <div class="noti-close">
                    đóng
                </div>
            </div>
            <div class="noti-body">
                @ViewBag.XoaThanhCong
            </div>
        </div>
    </div>
}
<h2 class="text-title">Danh sách đơn hàng xuất</h2>
<div class="search">
    @using (Html.BeginForm("TimKiem", "DonHangXuats", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <div class="search-group">
            <table class="search-table">
                <tr class="search-table-tr">
                    <td class="search-table-td search-label">
                        <div>Mã đơn xuất</div>
                    </td>
                    <td class="search-table-td">
                        <input type="text" name="MaDHX" value="@ViewBag.MaDHX" class="search-input" />
                    </td>
                </tr>
                <tr class="search-table-tr">
                    <td class="search-table-td search-label">
                        <div>Khách hàng</div>
                    </td>
                    <td class="search-table-td">
                        <input type="text" name="TenKH" value="@ViewBag.TenKH" class="search-input" />
                    </td>
                </tr>
            </table>
            <table class="search-table">
                <tr class="search-table-tr">
                    <td class="search-table-td search-label">
                        <div>Ngày xuất</div>
                    </td>
                    <td class="search-table-td search-range-input">
                        <input type="date" name="NgayXuatBD" value="@ViewBag.NgayXuatBD" class="search-input" />
                        đến
                        <input type="date" name="NgayXuatKT" value="@ViewBag.NgayXuatKT" class="search-input" />
                    </td>
                </tr>
                <tr class="search-table-tr">
                    <td class="search-table-td search-label">
                        <div>Kiểu giảm giá</div>
                    </td>
                    <td class="search-table-td">
                        @if (@ViewBag.KieuGiamGia == "VNĐ")
                        {
                            <input type="radio" name="KieuGiamGia" value="VNĐ" checked class="search-checkbox" /><text>VNĐ</text>
                            <input type="radio" name="KieuGiamGia" value="%" class="search-checkbox" /><text>%</text>
                        }
                        else if (ViewBag.KieuGiamGia == "%")
                        {
                            <input type="radio" name="KieuGiamGia" value="VNĐ" class="search-checkbox" /><text>VNĐ</text>
                            <input type="radio" name="KieuGiamGia" value="%" checked class="search-checkbox" /><text>%</text>
                        }
                        else
                        {
                            <input type="radio" name="KieuGiamGia" value="VNĐ" class="search-checkbox" /><text>VNĐ</text>
                            <input type="radio" name="KieuGiamGia" value="%" class="search-checkbox" /><text>%</text>
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div class="search-footer">
            <input type="submit" name="submit" value="Tìm kiếm" class="btn search-submit" />
            <a href="@Url.Action("Index")" class="btn search-clear">
                <i class="fa fa-trash-o"></i>
                <span>Xóa tìm kiếm</span>
            </a>
        </div>
    }
</div>
<div class="grid">
    <div class="grid-action">
        <a href="@Url.Action("Create", new {})" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i>
            <span>Tạo đơn hàng xuất</span>
        </a>        
        <button id="in-hoa-don-xuat" class="btn-print">In hóa đơn xuất</button>
    </div>
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
        columns: new[]
        {
            grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("MaDHX","Mã đơn hàng"),
            grid.Column("KhachHang.HoTen","khách hàng"  ),
            grid.Column("NgayXuat","Ngày xuất (tháng/ ngày/ năm)",format:@item => @item.NgayXuat.ToString(string.Format("dd/MM/yyyy"))),
            grid.Column("GiamGia","Giảm giá"),
            grid.Column("KieuGiamGia","Kiểu giảm giá"),
            grid.Column("TongDonHang","Tổng đơn hàng",format:@item => @item.TongDonHang.ToString("#,##0.")),
            grid.Column("DaDuyet","Trạng thái",format: @item => @item.DaDuyet == true ? "Đã duyệt" : "Chưa duyệt"),
            grid.Column("", "", format:
            @<div>
    <a href="@Url.Action("Edit", new { id = item.MaDHX })" class="btn btn-primary btn-sm">
        <i class="fa fa-pencil"></i>
        <span>Sửa</span>
    </a>
    <a href="@Url.Action("Details", new { id = item.MaDHX })" class="btn btn-info btn-sm">
        <i class="fa fa-info"></i>
        <span>Xem thêm</span>
    </a>
</div>
),
}
)
</div>

